In [42]:
#READ/WRITE EXCEL/CSV FILE
import pandas as pd 

#THERE ARE ALOT OF IMPORTANT FEATURS THAT ARE NOT MENTIONNED HERE
#LIKE MANIPULATING OTHER CARACTERS AS DELEMITERS IN CSV FILES


#df = pd.read_csv("stock_data2.csv",header=None,names=['a',"b","c","d","e"])#rename your colomns
#df = pd.read_csv("stock_data2.csv",header=1)#change your header
#df = pd.read_csv("stock_data2.csv",nrows=2)#number of rows that would be printed
#df = pd.read_csv("stock_data2.csv",na_values=["not available","n.a."])#replace those statments with NaN(cleaning data)
df = pd.read_csv("stock_data2.csv", na_values ={
                 'eps':["not available","n.a."],
                 'revenue':["not available","n.a.",-1],#money cant be negative but eps can 
                 'price':["not available","n.a.",-1],
                 'people':["not available","n.a."]
}) #ALL OF THOSE FEATERS HELP CLEANING DATA
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [33]:
df.shape

(5, 5)

In [46]:
#write csv
#df.to_csv('newcsv.csv')#that will right the endexes to
df.to_csv('newcsv.csv',index=False)#if u do not want indexes

#IF U GET ANYERROR REOPENNINGTHE FILE , DELETE IT FIRST OR CHANGE THE NAME IF U WANT

In [47]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [49]:
df.to_csv('newcsv1.csv',columns=(['tickers', 'eps']))#create a file with onely the mentionned columns
#df.to_csv('newcsv1.csv',header=False)#skip header

In [53]:
#EXCEL
import pandas as pd 
df = pd.read_excel("stock_data.xlsx", "Sheet1")
df
#DON'T FORGET TO INSTALL LIB:OPENPYXL, command:"pip install openpyxl"

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [55]:
def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sam walton'
    return cell
df = pd.read_excel("stock_data.xlsx", "Sheet1",converters={
    'people':convert_people_cell #call the fonction for every cell in this column
})
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sam walton
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [60]:
#write in excel
df.to_excel("newexcel1.xlsx",sheet_name="stockes")#same other stuff like csvFiles

In [59]:
df.to_excel("newexcel2.xlsx",sheet_name="stockes",startrow=2, startcol=1)#obvious

In [62]:
#Write two dataframes to two separate sheets in excel
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})


with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")